
<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/qh.jpg" alt="" />
      <ion-card-header  class="ion-text-center">
        <ion-card-subtitle>Estas preparado, apegat a roda </ion-card-subtitle>
        <ion-card-title>20 de junio 2020</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Club de atletisme samaruc informacion QH</p>
      </ion-card-content>
    </ion-card>


    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-list lines="none">
              <ion-item href="https://www.quebrantahuesos.com/QH_2020_Reglamento_ESP.pdf">
                <ion-icon slot="start" color="medium" name="book"></ion-icon>
                <ion-label>Reglamento</ion-label>
              </ion-item>      
              <ion-item href="https://www.quebrantahuesos.com/MapaGeneralQH.pdf">
                <ion-icon slot="start" color="medium" name="navigate"></ion-icon>
                <ion-label>Mapa</ion-label>
              </ion-item>
              <ion-item href="https://www.quebrantahuesos.com/PerfilQH.pdf">
                <ion-icon slot="start" color="medium" name="locate"></ion-icon>
                <ion-label>Perfil</ion-label>
              </ion-item>
            
              <ion-item href="/assets/Quebrantahuesos.gpx">
                <ion-icon slot="start" color="medium" name="grid"></ion-icon>
                <ion-label>TRACK GPX </ion-label>
              </ion-item>
              <ion-item href="https://www.quebrantahuesos.com/zonadesalida.pdf">
                <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
                <ion-label>ZONA DE SALIDA</ion-label>
              </ion-item>
              <ion-item href="https://www.quebrantahuesos.com/puntosmecanicos.pdf">
                <ion-icon slot="start" color="medium" name="build"></ion-icon>
                <ion-label>Punto mecanicos</ion-label>
              </ion-item>
            </ion-list>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    
</ion-content>
